body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background: lightgray;
}

h1 {
    font-size: 5em;
    margin-bottom: 3em;
}

span {
    color: lime;
    border-bottom: solid 2px #000;
    display: inline;
    padding-bottom: 3px;
}

.modal {
    background: #ffffff;
    box-shadow: 0 0 3px rgba(0, 0, 0, .15);
    display: inline-block;
    padding: 1em;
}

@media(min-width: 43.75em) {
    .modal {
        padding: 1.5em;
    }
}

/* making the label to look like a button */

.modal>label {
    background: #ffd300;
    border: 1px solid #f0c600;
    border-radius: .2em;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 0.75em 1.5em;
}

.modal>label:hover {
    transform: scale(0.97);
}

.modal-overlay {
    background: #000000;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    color: wheat;
    text-align: center;
    text-shadow: none;
    z-index: 600;
}

.modal-wrapper {
    padding: 1em 0;
    position: relative;
    margin: 0 auto;
    max-width: 500px;
    width: 90%;
}